sculptor_3d.cbp
sculptor_3d.layout
bin/
obj/
sculptor_3d.depend
voxel.h
src/GeometricFigure.cpp
dconfig
doxygen_docs/
.idea/
cmake-build-debug/
CMakeFiles/
build/
./3D_Sculptor
cmake_install.cmake
CMakeCache.txt
Makefile